// Colors
$darkBlue: #034E79;
$lightBlue: #F9FDFF;
$blue: #5EBDF2;
$white: #ffffff;

// Shadows
$drop-shadow: 4px 4px 20px rgba(3, 78, 121, 0.12);
$inner-shadow: inset 1px 1px 10px rgba(3, 78, 121, 0.12);
$buttonLight-shadow: inset -4px -4px 20px rgba(3, 78, 121, 0.3);
$buttonDark-shadow: inset 4px 4px 20px rgba(249, 253, 255, 0.3); 

$radius: 5px;