@font-face {
    font-family: 'gilroy-regular';
    src: url('../fonts/gilroy-regular.woff');
}

@font-face {
    font-family: 'gilroy-medium';
    src: url('../fonts/gilroy-medium.woff');
}

