.columnNames{
    width: 100%;
    height: 6vh;
    margin: 2vh 0 2vh 0;
    color: $lightBlue;
    box-shadow: $drop-shadow;
    border-radius: $radius;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .column{
        width: 45%;
        display: flex;
        align-items: center;
        justify-content: center;

        p{
            color: $darkBlue;
            font-family: 'gilroy-medium';
        }
    }
}

.columnDivider{
    position: relative;
    width: 1px;
    height: 60%;
    background-color: $darkBlue;
    opacity: 0.1;
    z-index: 0;
}

.columns{
    width: 100%;
    display: flex;
    flex-direction: column-reverse  ;

    .phoneRow{
        position: relative;
        display: flex;
        align-items: center;
        width: 100%;

        div{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;

            p{
                font-family: 'gilroy-regular';
            }

            .phoneText{
                color: $darkBlue;
            }

            .dateText{
                color: $blue;
            }
        }

        &:hover{
            .DeleteRowButton{
                display: block;
            }
        }
    }
}

.emptyList{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'gilroy-regular';
    font-size: 1.4rem;
    color: $blue;
}

.DeleteRowButton{
    position: absolute; 
    display: none;
    border: none;
    border-radius: $radius;
    box-shadow: $buttonLight-shadow, $buttonDark-shadow;
    background-color: $blue;
    height: 60%;
    box-sizing: border-box;
    right: 0.5vw;

    span{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img{
        margin: 0;
        padding: 0;
    }
}

.deleteRowButton__head{
    width: 1.2vw;
}
.deleteRowButton__body{
    width: 1vw;
}
.DeleteRowButton:hover {
    .deleteRowButton__head{
        transform: translateY(-0.35vh) translateX(-0.25vh) rotate(-18deg);
        transition-duration: 100ms;
    }
}