@import './fonts.scss';
@import './const.scss';
@import './form.scss';
@import './loader.scss';


body {
   margin: 0;
   padding: 0;
   background: $lightBlue;
}

.mainPage{
   padding: 5vh 0 5vh 0;
   position: relative;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.main__bg{
   margin: 2vh;
   width: 35vw;
   padding: 4vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   border-radius: $radius;
   background-color: $lightBlue;
   box-shadow: $drop-shadow;
   box-sizing: content-box;

   h2{
       margin: 0;
   }
}

.title{
   font-size: 2.2rem;
   font-family: 'gilroy-medium';
   color: $darkBlue
}